* {
    margin: 0;
    padding: 0;
}

.flexbox-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.block1, .block6 {
    width: 100%;
    height: 15vh;
    background-color: rgb(181, 78, 178);
}

.block1 {
    order: 1;
    font-size: 1.5vw;
}

.block1 p b, .block6 p b {
    color: rgb(53, 36, 208);
}

.block1 p, .block6 p {
    margin-top: 1%;
    margin-right: 2%;
    margin-left: auto;
    width: 72%;
    color: white;
    font-size: 1.5vw;
}

h2 {
    font-size: 1.2vw;
}

h3 {
    text-align: center;
}

.block2 {
    height: 70vh;
    width: 15%;
    background-color: rgb(195, 64, 149);
    text-align: center;
    order: 2;
}

.block2 p {
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
}

.block2 p b {
    color: rgb(28, 22, 135);
}

.block3 {
    height: 5vh;
    width: 85%;
    background-color: rgb(230, 178, 235);
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    order: 3;
}

.block3 a {
    color: rgb(95, 143, 220);
    text-decoration: underline;
    padding: 0 4.5vw;
}

.block4 {
    height: 65vh;
    width: 70%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    order: 4;
}

.block4 img {
    height: 100%;
    width: 100%;
}

.block5 {
    height: 65vh;
    width: 15%;
    background-color: rgb(195, 64, 149);
    order: 5;
}

.block5 ol {
    list-style-type: none;
    color: rgb(28, 22, 135);
    font-size: 1.2vw;
}

.block5 ol li b {
    color: rgb(61, 214, 97);
}

.block5 ol li {
    margin-bottom: 2.5em;
}

.block6 {
    order: 6;
}

.block6 p {
    margin-left: 2%;
    float: inline-start;
}

#x, #y {
    height: 5vh;
    width: 20%;
    background-color: white;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
    float: inline-start;
}

#y {
    margin: 2%;
    float: inline-end;
    line-height: 5vh;
}
