html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'VT323', monospace;
    background-color: #ffcc80;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    padding: 5%;
  }
  
  h1, h2 {
    color: #d35400;
    margin-bottom: 5%;
  }
  
  h1 {
    font-size: 3.6vw;
  }
  
  h2 {
    font-size: 2.4vw;
  }
  
  .project-list ul {
    padding: 0;
    list-style-type: none;
  }
  
  .project-list li {
    margin: 3% 0;
  }
  
  .project-list a {
    color: #e65100;
    font-size: 2vw;
    background-color: #fff;
    border: 0.3vw solid #e65100;
    padding: 1% 2%;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .project-list a:hover {
    background-color: #e65100;
    color: #fff;
    transform: scale(1.05);
  }
  
  footer {
    font-size: 1.2vw;
    color: #ff7043;
    background-color: #e65100;
    padding: 1%;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
  }
  