::-webkit-scrollbar { width: 0;}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* #region header */
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
  padding: 64px 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6c1f84204813599.66affbcd39390.jpg);
}

.header__logo {
  height: 15vh;
}

.menu__icon {
  filter: invert(1);
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin-bottom: 40px;
}

/* #endregion */

.overall {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: 50vh 150vh;
}

.left__bar {
  grid-row: 1 / 3;
  display: flex;
  background-color: white;
}

.nav {
  grid-column: 2 / 4;
  display: flex;
  flex-direction: column;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d946e3204813599.66affbcb5ff14.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav__title {
  color: white;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 48px;
  font-style: italic;
  line-height: 100%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #ffffff, #2d322f);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
}

.schedule {
  display: flex;
  justify-content: space-around; 
  margin-right: 20px;
  margin-left: 20px;
  
}

.f1__category__photo, .nascar__category__photo {  
  display: flex;
  border-radius: 8px; 
  transition: transform 0.3s; 
  width: 90%; 
  max-width: 310px;
  margin: 10px auto;
}

.f1__category__photo:hover, .nascar__category__photo:hover {
  transform: scale(1.10);
}

.category__link {
  text-decoration: none;
}

.category-photo__title {
  color: white;
  text-align: center;
  margin-top: 0;
  font-style: italic;
  letter-spacing: 1.5px;
}
















.main__content{
  background-color: white;
  grid-column: 2;
}

.right__bar {
  grid-row: 2 / 3;
  grid-column: 3;
  background-color: white;
}

/* #region footer */
.footer {
  height: 460px;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/602621204813599.66affbcd3b522.jpg);
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #endregion */