/* Стилі для сітки */
.grid-container {
    display: grid;
    grid-template-areas:
      "item1 item1 item1 item1 item1"
      "item2 item3 item3 item5 item5"
      "item2 item4 item4 item5 item5"
      "item6 item6 item6 item6 item6";
    grid-gap: 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .item1 {
    grid-area: item1;
    background-color: lightblue;
    position: relative;
  }
  
  .item2 {
    grid-area: item2;
    background-color: peachpuff;
  }
  
  .item3 {
    grid-area: item3;
    background-color: lightgreen;
  }
  
  .item4 {
    grid-area: item4;
    background-color: white;
    border: 1px solid black;
  }
  
  .item5 {
    grid-area: item5;
    background-color: peachpuff;
  }
  
  .item6 {
    grid-area: item6;
    background-color: lightblue;
    position: relative;
  }
  
  .x {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
  }
  
  .y {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
  }
  